services:
  db:
    image: postgres:17-alpine
    env_file: .env.docker
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h 127.0.0.1 -p 5432 -U \"$${POSTGRES_USER:-app}\" -d \"$${POSTGRES_DB:-appdb}\""]
      interval: 5s
      retries: 10
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped

  notifications_api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file: .env.docker
    depends_on:
      rabbitmq:
        condition: service_started
    ports:
      - "8001:8000"
    restart: unless-stopped

  notifications_worker:
    build: .
    entrypoint: ["python","-u", "-m", "app.worker_entry"]
    env_file: .env.docker
    depends_on:
      rabbitmq:
        condition: service_started
    restart: unless-stopped

volumes:
  postgres-data: {}
